@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.rpgGameChalangesList {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-decoration: none;
  }

  &__itemImgWrapperInner {
    aspect-ratio: 4/1;
  }

  &__itemImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoomIn 1s ease-in-out;
  }
  &__itemTitleWrapper {
    position: relative;
    padding-inline: 14%;
  }
  &__itemWings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  &__itemTitle {
    @include setFont(8px, 400, $font-fam-h1);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
