@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.rpgGameReferalsTotalEarnings {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 15px;

  &__inner {
    display: flex;
    align-items: flex-start;
    gap: 2px;
    padding: 20px 17px 28px;
    background-color: $color-bg;
    width: 100%;
    height: 100%;
  }
  &__texts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
  }
  &__title {
    @include setFont(14px, 400);
  }
  &__values {
    @include flexCol(flex-start);
    gap: 20px;
  }
  &__value {
    @include flexCol(flex-start);
    gap: 4px;
  }
  &__valueImgWrapper {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: $color-primary;
    @include flexCol();
  }
  &__valueImg {
    max-width: 100%;
  }
  &__valueText {
    @include setFont(12px, 500, $font-fam-montserrat, $color-white);
  }

  &__collectBtn {
    @include button($color-primary);
    max-width: 100px;
    width: 100%;
    padding: 1px;
  }

  &__collectBtnInner {
    @include flexCol();
    padding: 12px;
    gap: 10px;
    background: radial-gradient(85.56% 85.56% at 50% 50%, #3D2B7E 0%, #040010 98.08%);
    @include setFont(12px,400)
  }

  &__collectBtn, &__collectBtnInner{
    clip-path: polygon(0% 0%, 91.34% 0%, 96.21% 8.78%, 99.5% 14.06%, 99.5% 100%, 7.71% 100%, 0.5% 83.81%, 0.5% 0%);
  }
}
