@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.cyberFarmEvoOptionsModal {
  margin-top: 20px;
  width: 100%;
  @include flexCol();
  flex-direction: column;

  &__resourcesList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    width: 100%;

    &_factory {
      grid-template-columns: repeat(4, 1fr);
      gap: 4px 6px;
    }
  }
  &__resourceItem {
    @include button(linear-gradient(180deg, #2a1e54 0%, #5d42ba 100%));
    padding: 1px;

    &_active {
      padding: 2px;
      background: $color-primary;
    }
  }

  &__resourceItemInner {
    width: 100%;
    @include flexCol();
    flex-direction: column;
    gap: 8px;
    background: radial-gradient(
      88.89% 88.89% at 50% 50%,
      #3d2b7e 0%,
      #040010 100%
    );
  }

  &__resourceImg {
    width: 100%;
    max-width: 76px;
  }

  &__resourceNameText {
    @include setFont(15px, 400);
    margin-bottom: 8px;
  }

  &__resourcesList_factory &__resourceNameText {
    display: none;
  }
  &__info {
    margin-top: 10px;
    @include flexCol();
    flex-direction: column;
    gap: 8px;
    width: 100%;
    border: 2px solid $color-primary;
    background: $color-primary-dark-radial-gradient;
    padding-top: 3px;
    padding-bottom: 12px;
  }
  &__infoHeader {
    @include flexCol();
    gap: 3px;
    margin-bottom: 6px;
    padding-inline: 12px;
  }
  &__titleBlock {
    @include flexCol();
    gap: 5px;
    width: 100%;
  }
  &__titleLine {
    flex: 1;
    border: 1px solid $color-primary;

    &_dashed {
      border-style: dashed;
    }
  }
  &__infoTitle {
    @include setFont(16px, 400);
  }

  &__infoText {
    @include setFont(13px, 400);
  }
  &__infoTable {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    padding-inline: 12px;
  }

  &__infoTableRow {
    @include flexCol();
    gap: 5px;
    width: 100%;
  }
  &__notEnoghResText {
    padding-top: 3px;
    text-align: center;
    @include setFont(12px, 400, $font-fam-main, $color-red);
  }
  &__missingResCost {
    @include flexCol();
    gap: 5px;
  }

  &__missingResCostText {
    @include setFont(13px, 400);
    font-style: italic;
    text-align: center;
  }
  &__cpImage {
    width: 10px;
  }
  &__acceptBtn {
    height: 31px;
  }
  &__acceptBtnInner {
    padding: 7px 16px;
    @include flexCol();
    gap: 8px;
    @include setFont(16px, 400);
  }
}
