@import "../../../styles/mixins";
@import "../../../styles/vars";

.onBoardingHeader {
  @include flexCol();
  flex-direction: column;
  gap: 12px;
  position: relative;
  z-index: 3;
  background: linear-gradient(178.36deg, #0c0620 61.64%, #362670 143.6%);
  padding: 7px;

  &__title {
    @include setFont(16px, 400, $font-fam-h1, $color-text);
  }
  &__appName {
    @include setFont(24px, 400, $font-fam-dystopia, $color-text);
  }
  &__subtitle {
    @include setFont(14px, 400);
  }
}
