@import "../../../styles/mixins";
@import "../../../styles/vars";

.gameSideBar {
  @include flexCol();
  width: 135px;
  transform: translateX(200%);
  height: 100%;

  &_inited {
    transform: translateX(0%);
    transition: $transition;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 100%;
    justify-content: center;
  }

  &__additionalLinks {
    @include flexCol();
    flex-direction: column;
    gap: 4px;
  }

  &__item {
    position: relative;
    text-decoration: none;
    overflow: hidden;
    padding-right: 3px;
  }
  &__itemWrapper {
    background: $color-primary;
    width: 100px;

    max-height: 100%;
    height: 60px;
    padding: 1px;

    transition: $transition;

    & svg {
      fill: $color-text;
      transition: $transition;
    }

    &_active svg {
      fill: $color-black;
    }
  }

  &__item_sm &__itemWrapper {
    width: 42px;

    height: 24px;
  }

  &__item:nth-child(-n + 4) &__itemWrapper,
  &__item:nth-child(-n + 3) &__itemInner {
    clip-path: polygon(
      100% 77.76%,
      87.5% 100%,
      14.43% 100%,
      0% 24.46%,
      14.43% 0%,
      87.5% 0%,
      100% 77.76%
    );
  }
  &__item:nth-last-child(-n + 3) &__itemWrapper,
  &__item:nth-last-child(-n + 3) &__itemInner {
    clip-path: polygon(
      100% 22.24%,
      87.5% 0%,
      14.43% 0%,
      0% 75.54%,
      14.43% 100%,
      87.5% 100%,
      100% 22.24%
    );
  }

  &__itemInner {
    background: radial-gradient(
      76.5% 76.5% at 50% 50%,
      #3d2b7e 0%,
      #040010 100%
    );
    @include flexCol();
    flex-direction: column;
    gap: 6px;
    transition: $transition;
    width: 100%;
    height: 100%;
    padding-block: 3px;
  }

  &__itemWrapper_active &__itemInner {
    background: radial-gradient(
      76.5% 76.5% at 50% 50%,
      #3d2b7e 0%,
      #5a41b5 100%
    );
  }

  &_inited &__itemInner {
    animation: init 0.5s ease-in-out;
  }

  &_inited &__item:nth-child(1) &__itemInner {
    animation-delay: 0.5s;
  }
  &_inited &__item:nth-child(2) &__itemInner {
    animation-delay: 0.8s;
  }
  &_inited &__item:nth-child(3) &__itemInner {
    animation-delay: 1s;
  }
  &_inited &__item:nth-child(4) &__itemInner {
    animation-delay: 1.2s;
  }
  &_inited &__item:nth-child(5) &__itemInner {
    animation-delay: 1.4s;
  }
  &_inited &__item:nth-child(6) &__itemInner {
    animation-delay: 1.6s;
  }

  &__text {
    @include setFont(12px, 400);
    text-align: center;
    transition: $transition;
  }

  &__itemWrapper_active &__text {
    color: $color-black;
  }

  &__socket {
    position: absolute;
    right: 3px;
    width: 100%;
    height: 100%;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    border: 3px solid $color-primary;
    background: transparent;
    @include flexCol();

    &_sm {
      width: 6px;
      height: 6px;
      border-width: 2px;
      bottom: 6px;
    }
  }

  &__item:not(&__item_sm):nth-child(-n + 3) &__socket {
    bottom: 6px;
  }

  &__item:not(&__item_sm):nth-last-child(-n + 3) &__socket {
    top: 6px;
  }

  &__socketInner {
    width: 6px;
    height: 6px;
    background: $color-secondary;
  }

  &__socket_sm &__socketInner {
    width: 3px;
    height: 3px;
  }

  &__cables {
    height: 100%;
    max-height: 391px;
    margin-left: -26px;
    margin-right: -10px;
    @include bgWebp(
      "../../../assets/images/game/GameSidebar/gameSideBarCables.png",
      "../../../assets/images/game/GameSidebar/gameSideBarCables.webp"
    );
    background-size: contain;
    transition: $transition;

    &_withAdditions {
      max-height: 462px;
      margin-left: -37px;
      margin-right: -12px;
      @include bgWebp(
        "../../../assets/images/game/GameSidebar/gameSideBarCablesWithAdditions.png",
        "../../../assets/images/game/GameSidebar/gameSideBarCablesWithAdditions.webp"
      );
    }
  }

  &__cablesImage {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &__cablesPicture {
    height: 100%;
  }
}

@keyframes init {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
