@import "../../../styles/mixins";
@import "../../../styles/vars";

.loyalitySupportProject {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__wings {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  &__availableInText {
    @include setFont(12px, 400);
    text-align: center;
    margin-bottom: 7px;
  }

  // Tads

  :global(.tads) {
    background: $color-bg;
    border: 1px solid $color-primary;
    padding: 7px;
  }
  :global(.tads-image) {
    width: 30px;
    height: 30px;
  }
  :global(.tads-title) {
    @include flexCol(12px, 400);
  }
  :global(.tads-text) {
    @include setFont(12px, 400, $font-fam-montserrat);
    font-style: italic;
  }
}
