@import "../../../styles/mixins";
@import "../../../styles/vars";

.wrapperWithSidebar {
  @include flexCol();
  width: 100%;
  height: 100%;
  gap: 7px;
  
  &__main {
    flex: 1;
    height: 100%;
    padding-left: 14px;
  }
}
