@import "../../../styles/mixins";
@import "../../../styles/vars";

.gameStore  {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 3px;

  &__wrapper {
    overflow: hidden;
  }

  &__main {
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: $color-bg;
    overflow: hidden;
    height: 100%;
  }

  &__skinFilter {
    display: flex;
    width: 100%;
  }
  &__skinFilter__button {
    flex: 1;
    @include button(
      linear-gradient(180deg, #2e2062 0%, #140c2e 100%),
      1px solid $color-primary
    );
    height: 16px;
    @include flexCol();

    & svg {
      fill: $color-text;
      transition: $transition;
    }
    &_active {
      background: linear-gradient(180deg, #5a41b5 0%, #3d2b7e 100%);

      & svg {
        fill: $color-black;
      }
    }
  }

  &__sortList {
    margin-top: 7px;
    padding-inline: 7px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-inline: 7px;
    overflow-y: auto;
    height: 100%;
  }
  &__listItem {
    position: relative;
    aspect-ratio: 206/77;
    border: 1px solid $color-primary;
    background: radial-gradient(50% 50% at 50% 50%, #523ba6 0%, #170e35 100%);
    @include flexCol();
    width: 100%;
  }
  &__listItemImg {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__name {
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0 100%);
    background-color: $color-primary;
    min-width: 54px;
    min-height: 12px;
    @include setFont(10px, 400, $font-fam-main, #180f36);
    @include flexCol();
    padding-right: 10px;
  }
  &__level {
    position: absolute;
    right: 0;
    top: 0;
    clip-path: polygon(100% 0, 1.35% 0, 22.37% 100%, 100% 100%);
    background-color: $color-primary;
    min-width: 36px;
    min-height: 12px;
    @include setFont(10px, 400, $font-fam-main, #180f36);
    @include flexCol();
    gap: 3px;
    padding-left: 10px;
  }
  &__prices {
    position: absolute;
    right: 0;
    bottom: 0;
    clip-path: polygon(100% 100%, 0% 100%, 13% 0%, 100% 0%);
    background-color: $color-primary;
    min-width: 54px;
    min-height: 12px;
    @include setFont(10px, 400, $font-fam-main, #180f36);
    @include flexCol();
    gap: 3px;
    padding-left: 10px;
  }
  &__price {
    @include flexCol();
    gap: 3px;
  }
  &__priceImgWrapper {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    @include flexCol();
    background-color: #170e35;
  }
  &__priceImg {
    max-width: 100%;
  }
}
