@import "../../../styles/mixins";
@import "../../../styles/vars";

.cyberFarmEvoMap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__sky {
    flex: 1;
    background-color: #17253e;
    margin-bottom: -1px;
    z-index: 2;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #17253e;
      height: 30px;
      transform: translateY(50%);
      z-index: 3;
      filter: blur(10px);
    }
  }
  &__main {
    position: relative;
    width: 100%;
    aspect-ratio: 636/1095;
    max-height: 100%;
    overflow: auto;
  }

  &__mainInner {
    position: relative;
    width: 100%;
    aspect-ratio: 636/1095;
    @include bgWebp(
      "../../../assets/images/CyberFarmEvo//Map/farmMapMainBg.jpg",
      "../../../assets/images/CyberFarmEvo//Map/farmMapMainBg.webp"
    );
    background-size: cover;
    background-position: bottom;
  }

  &__btn {
    @include button();
    position: absolute;
    @include flexCol();
    flex-direction: column;
    @include setFont(20px, 400, $font-fam-russo-one, #c7fffe);
    -webkit-text-stroke: 1px #005c89;
    text-shadow: 1px #005c89;
    transition: $transition;
    text-decoration: none;

    @media (max-width: 320px) {
      font-size: 16px;
    }

    &_tasks {
      left: 4%;
      bottom: 36%;

      img {
        width: clamp(30px, 30vw, 150px);
      }
    }
    &_warehouse {
      bottom: 34%;
      right: 0%;

      img {
        width: clamp(30px, 30vw, 120px);
      }
    }
    &_farm {
      bottom: 7%;
      right: 20%;

      img {
        width: clamp(30px, 46vw, 180px);
      }
    }
    &_fabric {
      left: 33%;
      bottom: 35%;

      img {
        width: clamp(28px, 36vw, 180px);
      }
    }
    &_powerPlant {
      bottom: 60%;
      right: 4%;
      align-items: flex-end;

      img {
        width: clamp(28px, 28vw, 140px);
      }
    }
    &_recycler {
      bottom: 63%;
      left: 2%;
      align-items: flex-start;

      img {
        width: clamp(28px, 29vw, 140px);
      }
    }
    &_city {
      top: 4%;
      right: 29%;

      img {
        width: clamp(28px, 33vw, 163px);
      }
    }

    &:active {
      transform: scale(0.9);
    }

    & img {
      transition: all 0.1s;
    }

    &:hover,
    &:active img {
      filter: drop-shadow(0 6px 15px #00abff);
    }

    &:not(&_city) span {
      transform: translateY(-100%);
    }
  }
}
