@import "../../../styles/mixins";
@import "../../../styles/vars";

.rpgBottomNavbar {
  padding: 2px 16px 10px;
  background-color: $color-black;
  @include flexCol();
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;

  &__topBlock {
    width: 100%;
    padding-inline: 7px;
    margin-bottom: -2px;
    opacity: 0;

    & svg {
      width: 100%;
    }
  }

  &_inited &__topBlock {
    animation: init 0.3s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 7px;

    width: 100%;
  }
  &__item {
    position: relative;
    aspect-ratio: 1/1;
    @include flexCol();
    padding: 13px;
    transition: $transition;
    opacity: 0;

    &_active {
      padding: 5px;
    }
  }

  &_inited &__item {
    animation: init 0.3s linear 1;
    animation-fill-mode: forwards;

    &:nth-child(1) {
      animation-delay: 1s;
    }
    &:nth-child(2) {
      animation-delay: 0.7s;
    }
    &:nth-child(3) {
      animation-delay: 0.5s;
    }
    &:nth-child(4) {
      animation-delay: 0.7s;
    }
    &:nth-child(5) {
      animation-delay: 1s;
    }
  }

  &__itemFrame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  &__itemInnerFrame {
    // width: 100%;
    // height: 100%;
    flex: 1;
    aspect-ratio: 1 / 1;
    position: relative;
    z-index: 1;
    transition: $transition;
    @include flexCol();
  }
  &__itemInnerFrameIcon {
    fill: $color-secondary;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: $transition;
  }

  &__item_active &__itemInnerFrameIcon {
    fill: $color-primary;
  }
  &__icon {
    max-width: 90%;
    fill: $color-text;
    transition: $transition;
    z-index: 2;
  }

  &__item_active &__icon {
    fill: $color-black;
    transform: scale(1.3);
  }

  &__bottomBlock {
    max-width: 80%;
    padding-top: 4px;
    opacity: 0;

    & svg {
      width: 100%;
    }
  }

  &_inited &__bottomBlock {
    animation: init 0.3s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
  }
}

@keyframes init {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
