@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.cyberFarmWarehouseSocialStoreModal {
  @include flexCol();
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-top: 10px;

  &__lsit {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  &__listItem {
    padding: 1px;
    width: 100%;
    @include button($color-primary);

    &:disabled {
      background-color: transparent;
    }
  }
  &__listItemInner {
    background: linear-gradient(
      90deg,
      #2e147f 0%,
      #090419 25.96%,
      #090419 75.87%,
      #2e147f 100%
    );
    width: 100%;
    padding: 9px 16px;
    @include flexCol(space-between);
    gap: 8px;
  }

  &__listItem,
  &__listItemInner {
    clip-path: polygon(
      98.5% 0%,
      100% 5.4%,
      100% 95.9%,
      98.5% 100%,
      1% 100%,
      0% 95.9%,
      0% 5.4%,
      1% 0%
    );
  }

  &__listItem_active &__listItemInner {
    background: radial-gradient(
      71.72% 71.72% at 50% 50%,
      #3d2b7e 0%,
      #5a41b5 100%
    );
    color: $color-black;
  }

  &__listItemPicture {
    flex: 1;
    @include flexCol();
  }
  &__listItemImg {
    height: 42px;
    width: 100%;
    object-fit: contain;
  }
  &__text {
    flex: 4;
    @include setFont(12px, 400);
    text-align: center;
  }

  &__listItem:disabled &__text {
    color: $color-primary;
  }

  &__confirmBtn {
    padding: 1px;
    @include button($color-primary);
    max-width: 140px;
    width: 100%;
    transition: $transition;

    &:disabled {
      background-color: transparent;
    }
  }
  &__confirmBtnInner {
    padding: 4px;
    background: radial-gradient(
      88.89% 88.89% at 50% 50%,
      rgb(61, 43, 126) 0%,
      rgb(4, 0, 16) 100%
    );
    @include flexCol();
    gap: 6px;
    @include setFont(11px, 400);
    transition: $transition;
  }

  &__confirmBtn,
  &__confirmBtnInner {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 86%,
      96% 100%,
      4% 100%,
      0% 86%,
      0% 0%
    );
  }

  &__confirmBtn:disabled &__confirmBtnInner {
    color: $color-primary;
  }
}
