@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.gamePlayAreaRivalMenu {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  transform: translate(-80%, -50%);

  &__btn {
    @include button($color-primary);
    height: 29px;
    padding: 1px;
    &:nth-child(2),
    &:nth-child(4) {
      width: 60px;
    }

    &:nth-child(3) {
      width: 50px;
    }
  }

  &__btnInner {
    width: 100%;
    height: 100%;
    @include flexCol();
    background: radial-gradient(
      85.56% 85.56% at 50% 50%,
      #3d2b7e 0%,
      #040010 98.08%
    );

    & svg {
      fill: $color-text;
    }
  }

  &__btn:nth-child(2),
  &__btn:nth-child(2) &__btnInner {
    clip-path: path(
      "M60 1H12.094C12.094 1 8.14093 6.71895 6.04274 12C3.64336 18.0391 1 30 1 30H49.4103C49.4103 30 51.6826 17.947 53.9487 12C56.0379 6.51716 60 1 60 1Z"
    );
  }
  &__btn:nth-child(3),
  &__btn:nth-child(3) &__btnInner {
    clip-path: path(
      "M50 30.0001H2.5C2.5 30.0001 1 21.166 1 15.5001C1 9.83409 2.5 1.00006 2.5 1.00006H50C50 1.00006 49 9.82401 49 15.5001C49 21.1761 50 30.0001 50 30.0001Z"
    );
  }
  &__btn:nth-child(4),
  &__btn:nth-child(4) &__btnInner {
    clip-path: path(
      "M60 30H12.094C12.094 30 8.14093 24.2811 6.04274 19C3.64336 12.9609 1 1.00003 1 1.00003H49.4103C49.4103 1.00003 51.6826 13.0531 53.9487 19C56.0379 24.4829 60 30 60 30Z"
    );
  }

  &__btn:active &__btnInner {
    background: radial-gradient(
      71.72% 71.72% at 50% 50%,
      #3d2b7e 0%,
      #5a41b5 100%
    );

    & svg {
      fill: $color-black;
    }
  }

  &__info {
    position: absolute;
    top: -3px;
    left: 11px;
    transform: translateY(-100%);
    background-color: $color-primary;
    padding: 1px;
  }
  &__infoInner {
    background: radial-gradient(
      85.56% 85.56% at 50% 50%,
      #3d2b7e 0%,
      #040010 98.08%
    );
    padding-block: 5px;
    padding-left: 20px;
    padding-right: 25px;
    @include flexCol();
    gap: 6px;
  }

  &__info,
  &__infoInner {
    clip-path: polygon(
      100% 3.33%,
      20.16% 3.33%,
      13.57% 22.4%,
      1.67% 100%,
      82.35% 100%,
      89.91% 40%,
      94.91% 20%,
      100% 3.33%
    );
  }

  &__infoItem {
    @include flexCol();
    gap: 3px;

    & svg {
      height: 10px;
    }
  }
  &__infoText {
    @include setFont(11px, 400, $font-fam-h3, $color-text);
  }
}
