@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.gameCharacterWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  gap: 5px;
  transition: $transition;

  background-size: cover;

  &_main {
    background-size: initial;
    background-position: -178px -380px;
    @include bgWebp(
      "/assets/images/game/CharacterPage/characterBg.jpeg",
      "/assets/images/game/CharacterPage/characterBg.webp"
    );
  }

  &_inventory {
    @include bgWebp(
      "/assets/images/game/CharacterPage/gameCharacterInventoryBg.jpg",
      "/assets/images/game/CharacterPage/gameCharacterInventoryBg.webp"
    );
    background-position: center;
  }

  &_shop {
    @include bgWebp(
      "/assets/images/game/CharacterPage/gameCharacterShopBg.jpg",
      "/assets/images/game/CharacterPage/gameCharacterShopBg.webp"
    );
    background-position: center;
  }

  &_training {
    @include bgWebp(
      "/assets/images/game/CharacterPage/gameCharacterTrainingBg.jpg",
      "/assets/images/game/CharacterPage/gameCharacterTrainingBg.webp"
    );
  }

  & > svg {
    width: 100%;
  }
  padding-bottom: 13px;
  padding-top: 5px;

  &__bottomWings {
    width: 100%;
  }
}
