@import "../../../styles/mixins";
@import "../../../styles/vars";

.hackTerminalBottomNavbar {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__topBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__btnsWrapper {
    @include flexCol(space-between);
    gap: 10px;
  }
  &__topBlockLink {
    max-width: 154px;
    width: 100%;
    border: 1px solid $color-primary;
    border-radius: 5px;
    background: radial-gradient(
      88.89% 88.89% at 50% 50%,
      #3d2b7e 0%,
      #040010 100%
    );
    @include flexCol();
    gap: 6px;
    padding: 5px;
    @include setFont(12px, 300);
    fill: $color-text;
    transition: $transition;
    & svg {
      fill: inherit;
    }

    &_active {
      background: radial-gradient(
        71.72% 71.72% at 50% 50%,
        #3d2b7e 0%,
        #5a41b5 100%
      );
      color: $color-black;
      fill: $color-black;
    }
  }
}
