@import "../../../../../styles/mixins";
@import "../../../../../styles/vars";

.rpgGameCharacterTrainingInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  overflow-y: auto;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__title {
    @include setFont(12px, 400m, $font-fam-h3);
  }
  &__text {
    @include setFont(10px, 400, $font-fam-montserrat);
    font-style: italic;
  }
}
