@import "../../styles/mixins";
@import "../../styles/vars";

.cloneFixedElementProvider {
  position: fixed;
  z-index: 999999;

  &__target {
    position: absolute;
    z-index: 999999;
    transform: translate(-50%, -100%);
    top: 0;
    left: 50%;

    & svg {
      animation: move 1s linear infinite;
    }
  }
}

@keyframes move {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
