@import "../../../styles/mixins";
@import "../../../styles/vars";

.gameWrapper {
  height: 100%;
  background: $color-black;
  width: 100%;
  overflow: hidden;
  color: white;

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1;
    position: relative;
  }

  &__main {
    flex: 1;
    height: calc(100lvh - 195px);
    overflow: hidden;
  }
}
