@import "../../../../../styles/mixins";
@import "../../../../../styles/vars";

.rpgGameCharacterTrainingRedistribution {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__item {
    @include flexCol();
    flex-direction: column;
    gap: 10px;
  }
  &__itemMain {
    width: 100%;
    @include flexCol();
    gap: 3px;
  }
  &__text {
    @include setFont(10px, 400);
  }
 
  &__resetBtn {
    @include button(
      linear-gradient(180deg, #2e2062 0%, #140c2e 100%),
      1px solid $color-primary
    );
    padding: 3px 5px;
    @include flexCol();
    gap: 5px;

    @include setFont(8px,400)
  }
  &__dotLine {
    width: 100%;

    & svg {
      width: 100%;
    }
  }
}
