@import "../../../styles/mixins";
@import "../../../styles/vars";

.mainInput {
  position: relative;
  width: 100%;

  & svg {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }

  
  &__input {
    width: 100%;
    padding: 5px;
    border: 1px solid $color-primary;
    background-color: #1d1340;
    @include setFont(10px, 400);
    transition: $transition;
    outline: none;

    &::placeholder {
      color: #7b59f8;
    }

    &:focus {
      outline: 1px solid $color-primary;
    }
  }
}
