@font-face {
  font-family: "Trafaret Kit";
  src: url("../assets/fonts/Trafaret_Kit/trafaretkit.ttf") format("truetype");
  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: "DS_Army";
  src: url("../assets/fonts/DS_Army/ds_army_italic.ttf") format("truetype");
  font-weight: 300;

  font-style: normal;
}
@font-face {
  font-family: "DystopiaFont";
  src: url("../assets/fonts/DystopiaFont/DystopiaFont.ttf") format("truetype");
  font-weight: normal;

  font-style: normal;
}
@font-face {
  font-family: "BOWLER";
  src: url("../assets/fonts/Bowler/BOWLER.otf") format("truetype");
  font-weight: normal;

  font-style: normal;
}
@font-face {
  font-family: "Lcdnova";
  src: url("../assets/fonts/Lcdnova/1601623837ei.ttf") format("truetype");
  font-weight: normal;

  font-style: normal;
}
@font-face {
  font-family: "RetroGaming";
  src: url("../assets/fonts/RetroGaming/RetroGaming.ttf") format("truetype");
  font-weight: normal;

  font-style: normal;
}
