@import "vars";
@import "mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
  display: none;
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  background: $color-black;
  overflow: hidden;
  height: 100vh;
  margin: 0 auto;

  &[data-scroll-locked] {
    padding-top: 0 !important;
  }
}

#root {
  height: 100vh;
  padding-top: calc(var(--tg-safe-area-inset-top)) +
    var(--tg-content-safe-area-inset-top);
  padding-bottom: var(--tg-safe-area-inset-bottom);
  overflow: hidden;
  position: relative;
  position: fixed;
  width: 100%;
  top: 0;
}

html {
  background: $color-black;
  height: auto;
  overflow: hidden;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

.gameContainer {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.titleH1 {
  @include setFont(16px, 400, $font-fam-h1);
  text-align: center;
}
.titleH3 {
  @include setFont(12px, 400, $font-fam-h1);
  text-align: center;
}
.titleH3Italic {
  @include setFont(16px, 400, $font-fam-h3);
}

.gradientText {
  background: linear-gradient(91.23deg, #c6b7ff 8.44%, #7f5cff 77.15%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.typeAnimation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid $color-primary;
  animation: typing 2s steps(30, end) forwards;
  width: fit-content;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    transform: translateX(100%);
    width: 10px;
    height: 100%;
    background: $color-primary;
    opacity: 0;
    animation: blink 1s infinite;
    animation-delay: 3.5s;
  }
}

@keyframes typing {
  0% {
    max-width: 0;
  }
  90% {
    border-right-width: 3px;
  }
  to {
    max-width: 100%;
    border-right-width: 0;
    overflow: hidden;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
