// colors
$color-black: #0F0E10;
$color-white: #ffffff;
$color-primary: #7F5CFF;
$color-primary-gradient: linear-gradient(180deg, #4C3799 0%, #7F5CFF 100%);
$color-secondary: #2A1E54;
$color-text: #C6B7FF;


$font-fam-main: "Play", sans-serif;
$font-fam-h1: "Trafaret Kit";
$font-fam-h3: "DS_Army";
$font-fam-montserrat: "Montserrat", sans-serif;

$transition: all 0.5s;
