// mesia
$xs-screen: 375px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1200px;

// colors
$color-black: #0f0e10;
$color-white: #ffffff;
$color-bg: #0c0620;
$color-darkBlueBg: #090419;
$color-primary: #7f5cff;
$color-statsBg: #42307d;
$color-disabledText: #6a4cd7;
$color-red: #ff2a2a;
$color-primary-light-gradient: linear-gradient(
  180deg,
  #4c3799 0%,
  #7f5cff 100%
);
$color-primary-to-dark-gradient: linear-gradient(
  180deg,
  #6a4cd7 0%,
  #0d0623 100%
);
$color-primary-dark-gradient: linear-gradient(180deg, #2a1e54 0%, #5d42ba 100%);
$color-primary-dark-radial-gradient: radial-gradient(
  88.89% 88.89% at 50% 50%,
  #3d2b7e 0%,
  rgb(4, 0, 16) 100%
);
$color-active-btn-gradient: radial-gradient(
  71.72% 71.72% at 50% 50%,
  #3d2b7e 0%,
  #5a41b5 100%
);

$color-secondary: #2a1e54;
$color-input-bg: #1d1340;
$color-text: #c6b7ff;

$font-fam-main: "Play", sans-serif;
$font-fam-h1: "Trafaret Kit";
$font-fam-h3: "DS_Army";
$font-fam-dystopia: "DystopiaFont";
$font-fam-bowler: "BOWLER";
$font-fam-lcdnova: "Lcdnova";
$font-fam-retrogaming: "RetroGaming";
$font-fam-montserrat: "Montserrat", sans-serif;

$transition: all 0.5s;
