@import "../../../styles/mixins";
@import "../../../styles/vars";

.homeFooter {
  @include flexCol();
  gap: 35px;

  @include mdScreenMedia {
    order: 4;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  &__btn {
    text-decoration: none;
  }
  &__iconImg {
    width: 60px;
    height: 60px;

    @include mdScreenMedia {
      width: 40px;
      height: 40px;
    }
  }
}
