@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.gameSingleChalangeMain {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;

  &__headerWings {
    width: 100%;
    margin-bottom: 24px;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__headerDotsLines {
    min-width: 253px;
    width: 100%;
    margin: 0 auto;
    @include flexCol(space-between);
    margin-bottom: 10px;
  }
  &__imgWrapper {
    position: relative;
    width: 100%;
    padding: 2px;
  }

  &__imgWrapperInner {
    width: 100%;
    height: 100%;
    aspect-ratio: 4/1;
    padding: 1px;
    background: linear-gradient(180deg, #6a4cd7 0%, #0d0623 100%);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__imgFrame {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    & svg {
      width: 100%;
      height: 100%;
    }
  }
  &__imgWings {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 20px;
  }
  &__description {
    flex: 1;
    @include setFont(16px, 400, $font-fam-h3);
    font-style: italic;
  }
}
