@import "../../../../../../styles/mixins";
@import "../../../../../../styles/vars";

.gameClansList {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  gap: 8px;

  &__sortList {
    display: grid;
    grid-template-columns: 2fr 1fr auto;
  }
  &__main {
    height: 100%;
    overflow: auto;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__itemDotsLine {
    width: 100%;
    display: flex;

     & svg {
      width: 100%;
     }
  }
  &__itemMain {
    display: grid;
    grid-template-columns: 2fr 1fr auto;
    justify-items: flex-start;
    padding-block: 8px;
    @include button();
  }
  &__itemNameBlock {
    @include flexCol(flex-start);
    gap: 6px;
  }
  &__itemLogoImg {
    width: 12px;
    height: 12px;
    object-fit: contain;
  }
  &__itemText {
    @include setFont(12px, 400);
  }

  &__levelBlock {
    @include flexCol(flex-end);
    gap: 2px;
  }

  &__itemDropdownContent {
    display: flex;
    gap: 4px;
  }
  &__itemDropdownContentBtn {
    flex: 1;
    @include button($color-primary);
    padding: 1px;
    margin-bottom: 10px;

  }

  &__itemDropdownContentBtnInner {
    width: 100%;
    padding: 4px;
    @include flexCol();
    gap: 4px;
    background: radial-gradient(
      85.56% 85.56% at 50% 50%,
      #3d2b7e 0%,
      #040010 98.08%
    );
    @include setFont(10px, 400);
    height: 100%;
  }

  &__itemDropdownContentBtn:nth-child(1),
  &__itemDropdownContentBtn:nth-child(1) &__itemDropdownContentBtnInner {
    clip-path: polygon(0% 0%, 0% 85%, 3.5% 92%, 7.5% 100%, 100% 100%, 100% 0%);
  }
  &__itemDropdownContentBtn:nth-child(2),
  &__itemDropdownContentBtn:nth-child(2) &__itemDropdownContentBtnInner {
    clip-path: polygon(
      100% 0%,
      100% 85%,
      96.5% 92%,
      92.5% 100%,
      0% 100%,
      0% 0%
    );
  }
}
