@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.cyberFarmWarehouse {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__main {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  &__subtitle {
    @include setFont(14px, 400);
    text-align: center;
  }
}
