@import "../../../styles/mixins";
@import "../../../styles/vars";

.cyberFarmEvoFarms {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    padding-top: 10px;
    padding-bottom: 5px;
    @include flexCol();
  }
  &__collectAllBtn {
    height: 30px;
    width: 100%;
    max-width: 200px;
  }
  &__fieldsWrapper {
    flex: 1;
    overflow: hidden;
  }

  &__fieldsContainer {
    position: relative;
    min-height: 100%;
    width: 100%;
    overflow: hidden auto;
  }
  &__field {
    position: absolute;
    @include bgWebp(
      "../../../assets/images//CyberFarmEvo/Farms/cybefarmEvoField.png",
      "../../../assets/images//CyberFarmEvo/Farms/cybefarmEvoField.webp"
    );
    width: calc(100% / 3);
    aspect-ratio: 236 / 144;
    background-position: center;
    background-size: contain;
    transform: translate(-50%, -50%);
  }

  &__fieldPlantImg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 118/81;
  }

  &__footer {
    padding-block: 16px;
    background: linear-gradient(180deg, #0c0620 26.6%, #362670 100%);
    @include flexCol();
    margin-top: -100px;
    position: relative;
    z-index: 2;
  }
  &__goBackBtn {
    height: 30px;
    width: 100%;
    max-width: 240px;
  }
}
