@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.rpgGameClanWrapper {
  padding-top: 30px;
  padding-bottom: 12px;
  @include bgWebp(
    "../../../../assets/images/RPGGame/ClanPage/clanBg.jpg",
    "../../../../assets/images/RPGGame/ClanPage/clanBg.webp"
  );
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__bottomWings {
    width: 100%;
    margin-top: 10px;
  }
}
