@import "../../../styles/mixins";
@import "../../../styles/vars";

.cyberFarmUpgradeBuildModal {
  @include flexCol();
  flex-direction: column;
  gap: 8px;
  width: 100%;
  border: 2px solid $color-primary;
  background: $color-primary-dark-radial-gradient;
  padding-block: 12px;
  margin-top: 10px;

  &__infoHeader {
    @include flexCol();
    gap: 3px;
    margin-bottom: 6px;
    padding-inline: 12px;
  }

  &__resourceImg {
    width: 100%;
    max-width: 76px;
  }

  &__titleBlock {
    @include flexCol();
    gap: 5px;
    width: 100%;
  }
  &__titleLine {
    flex: 1;
    border: 1px solid $color-primary;

    &_dashed {
      border-style: dashed;
    }
  }
  &__infoTitle {
    @include setFont(16px, 400);
  }

  &__infoText {
    @include setFont(13px, 400);
  }
  &__infoTable {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    padding-inline: 12px;
  }

  &__infoTableRow {
    @include flexCol();
    gap: 5px;
    width: 100%;
  }

  &__missingResCost {
    @include flexCol();
    gap: 5px;
  }

  &__missingResCostText {
    @include setFont(13px, 400);
    font-style: italic;
    text-align: center;
  }
  &__cpImage {
    width: 10px;
  }
  &__acceptBtn {
    height: 31px;
  }
  &__acceptBtnInner {
    padding: 7px 16px;
    @include flexCol();
    gap: 8px;
    @include setFont(16px, 400);
  }
  &__modules {
    @include flexCol();
    gap: 10px;
    flex-direction: column;
    width: 100%;
    padding-top: 12px;
  }
  &__modulesList {
    @include flexCol();
    width: 100%;
    gap: 8px;
  }
  &__moduleItem {
    @include button();
    flex: 1;
    overflow: hidden;
    @include flexCol();
    flex-direction: column;
    gap: 6px;
    width: 100%;
  }
  &__moduuleItemMain {
    aspect-ratio: 97/78;
    width: 100%;
    padding: 2px;
    background: radial-gradient(
      76.5% 76.5% at 50% 50%,
      #ff0000 0%,
      #100000 100%
    );
    position: relative;

    &_active {
      background: $color-primary;
    }
  }
  &__moduuleItemMainInner {
    width: 100%;
    height: 100%;
    background: radial-gradient(
      70.75% 88.89% at 50% 50%,
      #3d2b7e 0%,
      #040010 100%
    );
    @include flexCol();
  }
  &__moduuleItemMainModuleImg {
    width: 100%;
  }
  &__moduuleItemMainPlusImg {
    width: 100%;
  }

  &__moduuleItemMainModulePicture {
    width: 70%;
  }

  &__moduuleItemMainPlusPicture {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__moduleItemCountText {
    @include setFont(16px, 400);
  }

  &__modulesConfirmBlock {
    @include flexCol();
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }
  &__modulesConfirmBtns {
    @include flexCol();
    gap: 8px;
  }
}
