@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.rpgGameCreateClanMain {
  height: 100%;
  overflow: hidden;

  &__container {
    padding: 12px;
    background-color: $color-bg;
    height: 100%;
    overflow: auto;
  }
  &__header {
    @include flexCol(space-between);
    margin-bottom: 8px;
  }
  &__logoSelect {
    margin-block: 8px;
  }
  &__title {
    @include setFont(12px, 400);
    margin-bottom: 8px;
  }
  &__logoList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    transition: $transition;
    max-height: 20vh;
    overflow: auto;

    &_opened {
      max-height: 80vh;
      padding-bottom: 8px;
    }
  }
  &__logoListAddBtn {
    @include button(
      radial-gradient(50% 50% at 50% 50%, #523ba6 0%, #170e35 100%),
      2px solid $color-primary
    );
    @include flexCol();
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    & svg {
      width: 80%;
    }
  }
  &__logoListItem {
    @include button(
      radial-gradient(50% 50% at 50% 50%, #523ba6 0%, #170e35 100%),
      1px solid $color-primary
    );
    @include flexCol();
    padding: 3px;
    aspect-ratio: 1/1;
  }
  &__logoListImg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;
  }
  &__showMoreBtn {
    @include button();
    @include setFont(10px, 400);
    position: relative;
    width: 100%;
    padding-inline: 11%;
    @include flexCol();
    gap: 3px;
    margin-top: 8px;
  }
  &__showMoreBtnWings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  &__description {
    margin-bottom: 8px;
  }

  &__descriptionInput textarea {
    width: 100%;
    height: 48px;
    resize: none;
  }

  &__type {
    margin-bottom: 10px;
  }

  &__typeList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__price {
    margin-bottom: 10px;
  }

  &__priceList {
    @include flexCol(flex-start);
    gap: 10px;
  }
  &__priceItem {
    @include flexCol();
    gap: 8px;
  }
  &__priceItemValue {
    @include setFont(12px, 400);
  }

  &__submitBtn {
    @include button($color-primary);
    padding: 1px;
    margin-inline: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
  }

  &__submitBtnInner {
    background: radial-gradient(
      85.56% 85.56% at 50% 50%,
      #3d2b7e 0%,
      #040010 98.08%
    );
    padding: 7px 10px;
    @include flexCol();
    gap: 5px;
    @include setFont(10px, 400);
  }

  &__submitBtn,
  &__submitBtnInner {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 82.34%,
      96.31% 89.52%,
      92.5% 100%,
      7.64% 100%,
      3.75% 89.47%,
      0% 82.34%
    );
  }
}
