@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.influencePlayer {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-top: 22px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__boldText {
    @include setFont(10px, 700);
  }
  &__valueText {
    @include setFont(10px, 400);
  }
}
