@import "../../styles/mixins";
@import "../../styles/vars";

.appLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $color-black;
  @include flexCol();
  z-index: 999;
  flex-direction: column;

  &_transparent {
    background-color: #00000075;
  }

  &__lottieWrapper {
    width: 200px;
    height: 200px;
    @include flexCol();
    overflow: hidden;
  }

  &__lottie {
    width: 400px;
    height: 400px;

    svg {
      width: 400px !important;
    }
  }

  &__title {
    @include setFont(20px, 500);
  }
}
