@import "../../../../../styles/mixins";
@import "../../../../../styles/vars";

.gameCharacterInventoryEquipment {
  padding: 10px;
  background-color: $color-bg;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;

  &__title {
    @include setFont(10px, 400);
  }
}
