@import "../../../styles/vars";
@import "../../../styles/mixins";

.homeMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100lvh;
  height: 100%;
  overflow: auto;
  background: $color-black;
  transition: $transition;
  background-repeat: no-repeat;
  @include bgWebp(
    "../../../assets/images/HomePage/homebg.jpg",
    "../../../assets/images/HomePage/homebg.webp"
    );
    background-size: cover;
    background-position: -100%;
    
    &_loaded {
    background-position: center;
  }
}
