@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.cyberFarmEvoProcessModal {
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;

  &__info {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__img {
    width: 83px;
    object-fit: contain;
  }
  &__infoMain {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
  }
  &__text {
    @include setFont(11px, 400);
  }
  &__progressBar {
    width: 100%;
    padding: 1px;
    background-color: $color-primary;
    height: 21px;
  }
  &__progressBarWrapper {
    width: 100%;
    padding: 1px;
    background-color: $color-bg;
    height: 100%;
  }
  &__progressBarinner {
    height: 100%;
    background: linear-gradient(90deg, #2a1e54 0%, #5d42ba 100%);
  }

  &__progressBar,
  &__progressBarWrapper,
  &__progressBarinner {
    clip-path: polygon(
      98.2% 2.3%,
      100% 15%,
      100% 85%,
      98.2% 97.7%,
      1.8% 97.7%,
      0% 85%,
      0% 15%,
      1.8% 2.3%
    );
  }
  &__infoCol {
    @include flexCol(space-between);
    gap: 10px;
    width: 100%;
  }
  &__actions {
    @include flexCol();
    gap: 12px;
    width: 100%;
  }
  &__btn {
    flex: 1;
    padding: 1px;
    @include button($color-primary);
  }
  &__btnInner {
    width: 100%;
    padding: 5px;
    @include flexCol();
    gap: 3px;
    background: radial-gradient(
      88.89% 88.89% at 50% 50%,
      rgb(61, 43, 126) 0%,
      rgb(4, 0, 16) 100%
    );
    @include setFont(11px, 400);
  }

  &__btn,
  &__btnInner {
    clip-path: polygon(
      96.2% 2.3%,
      100% 15%,
      100% 85%,
      96.2% 97.7%,
      3.8% 97.7%,
      0% 85%,
      0% 15%,
      3.8% 2.3%
    );
  }

  &__btnImg {
    height: 16px;
  }

  &__error {
    @include flexCol();
    @include setFont(14px, 400, $font-fam-main, $color-red);
    text-align: center;
  }
}
