@import "../../../styles/vars";
@import "../../../styles/mixins";

.mainBtn {
  @include button($color-primary);
  padding: 1px;
  height: 22px;
  transition: $transition;

  &__inner {
    @include flexCol();
    gap: 5px;
    width: 100%;
    height: 100%;
    @include setFont(12px, 400);
    transition: $transition;
    background: $color-primary-dark-radial-gradient;
    padding: 4px;

    & svg {
      fill: inherit;
      transition: $transition;
    }
  }

  &,
  &__inner {
    clip-path: polygon(
      8% 0%,
      92% 0%,
      100% 13%,
      100% 87%,
      92% 100%,
      8% 100%,
      0% 87%,
      0% 13%
    );
  }

  &_left,
  &_left .mainBtn__inner {
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 87%, 0% 13%);
  }

  &_right,
  &_right .mainBtn__inner {
    clip-path: polygon(0% 0%, 85% 0%, 100% 13%, 100% 87%, 85% 100%, 0% 100%);
  }

  &:disabled {
    background: transparent;
  }
  &:disabled &__inner {
    color: $color-primary;
    fill: $color-primary;
  }
}
