@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.gamePlayAreaLoader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-black;
  z-index: 9999;

  @media (orientation: portrait) {
    flex-direction: column;
  }

  &__gateImg {
    flex: 1;

    @include bgWebp(
      "../../../../assets/images/game/GamePlayAreaPage/Loader/gatePortrait.png",
      "../../../../assets/images/game/GamePlayAreaPage/Loader/gatePortrait.webp"
    );
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: $transition;

    transform: translateX(100%);
    &_closed:not(&_reversed) {
      transform: translateX(0%);
    }
    &#{&}_closed#{&}_reversed {
      transform: rotate(180deg) translateX(0%);
    }
    &_reversed {
      transform: rotate(180deg) translateX(100%);
    }

    @media (orientation: portrait) {
      @include bgWebp(
        "../../../../assets/images/game/GamePlayAreaPage/Loader/gate.png",
        "../../../../assets/images/game/GamePlayAreaPage/Loader/gate.webp"
      );
      transform: translateY(100%);
      &_closed:not(&_reversed) {
        transform: translateY(0%);
      }
      &#{&}_closed#{&}_reversed {
        transform: rotate(180deg) translateY(0%);
      }
      &_reversed {
        transform: rotate(180deg) translateY(100%);
      }
    }
  }
  &__circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 126px;
    height: 126px;
    @include flexCol();
    border: 30px solid transparent;
    box-sizing: initial;
  }
  &__circle1Img {
    width: calc(100% + 50px);
    height: calc(100% + 50px);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    animation: circle 50s linear infinite;
  }
  &__circle2Img {
    position: absolute;

    width: calc(100% + 50px);
    height: calc(100% + 50px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    animation: circle 50s linear infinite;
    animation-direction: reverse;
  }
  &__circle3Img {
    position: absolute;

    width: calc(100% + 30px);
    height: calc(100% + 30px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: circle 50s linear infinite;
    animation-direction: reverse;
  }
  &__circle4Img {
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: circle 50s linear infinite;
    animation-direction: reverse;
  }
  &__circleMain {
    width: 100%;
    height: 100%;
    background-color: #332053;
    position: relative;
    @include flexCol();
    border-radius: 50%;
  }
  &__circleText {
    @include setFont(20px, 400, $font-fam-h3);
  }
}

@keyframes circle {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(3600deg);
  }
}
